
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cancel</title>
</head>
<body>
    <div> 
        you have canceled please expect a refund for the full amount
    </div>
</body>
</html>
